Q.1) Write a python program to create a dictionary with a set of key value pair and fetch the value according to the specified key.

In [ ]:
dict={
    "Name" : "Megha Singh",
    "Branch" : "CSSE",
    "University" : "KIIT",
    "City" : "Bhubaneswar"
}

print(dict['Name'])
print(dict['Branch'])

Megha Singh
CSSE

Q.2) Write a python program to create an empty dictionary and add the key value pairs to this dictionary.

In [ ]:
dict={}
updatedict={
    "Name" : "Megha",
    "Branch" : "CSSE",
    "University" : "KIIT"
}
dict.update(updatedict)
print(dict)

{'Name': 'Megha', 'Branch': 'CSSE', 'University': 'KIIT'}

Q.3) Write a python program to concatenate two dictionaries to create a new one.

In [ ]:
dict={
    "place":"Hyderabad",
    "state":"Telangana"
}
updatedict={
    "Student":"Megha",
    "Branch":"CSSE"
}
dict.update(updatedict)
print(dict)

{'place': 'Hyderabad', 'state': 'Telangana', 'Student': 'Megha', 'Branch': 'CSSE'}

Q.4) Write a python program to remove a key from a dictionary.

In [ ]:
dict={'a':1,'b':2,'c':3,'d':4}
print(dict)
del dict['a']
print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

Q.5) Write a python program to sort a dictionary by key.

In [ ]:
dict={'2':1,'9':2,'5':3,'3':4}
print(sorted(dict.items()))

[('2', 1), ('3', 4), ('5', 3), ('9', 2)]

Q.6) Write a python program to create a set and add some elements in it. Also try to add repeating elements, then print the set.

In [ ]:
set1=set()
print(type(set1))
set1.add(1)
set1.add(2)
set1.add(3)
set1.add(4)
set1.add(4)
set1.add(5)
print(set1)

<class 'set'>
{1, 2, 3, 4, 5}

Q.7) Write a python program to add a tuple in an existing set and print the updated set. Also remove a specific element from the set and print.

In [ ]:
set2={35,23,6,1,4,9}
print(set2)
set2.add((4,7,8))
print("After adding tuple : ",set2)
set2.remove(23)
print("After removing an element : ",set2)

{1, 35, 4, 6, 9, 23}
After adding tuple :  {1, 35, 4, 6, 9, 23, (4, 7, 8)}
After removing an element :  {1, 35, 4, 6, 9, (4, 7, 8)}

Q.8) Write a python program to create a set which is a union of two sets.

In [ ]:
set1={1, 2, 3, 4, 5};
set2={6, 7, 8, 9, 10};
print("Union of set1 and set2 is",set1 | set2)

Union of set1 and set2 is {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q.9) Write a python program to check if a set is a subset of another set.

In [ ]:
setx= set(["apple", "mango"])
sety= set(["mango", "orange"])
print("x: ",setx)
print("y: ",sety)
print("If x is subset of y")
print(setx <= sety)
print(setx.issubset(sety))
print("If y is subset of x")
print(sety <= setx)
print(sety.issubset(setx))

x:  {'mango', 'apple'}
y:  {'mango', 'orange'}
If x is subset of y
False
False
If y is subset of x
False
False