Q.1) Write a python program to find the number of items available in the list.

In [ ]:
a=[1,2,5,8,9,0,7]
print(len(a))

7

Q.2) Write a python program to find the largest number from a list.

In [ ]:
a=[1,2,3,4,5,7]
a.sort()
print(a)
print("Largest number is: ",a[-1])

[1, 2, 3, 4, 5, 7]
Largest number is:  7

Q.3) Write a python program to find sum of all the items in a list

In [ ]:
a=[1,2,3,4,5]
addition=sum(a)
print("Sum of all elements: ",addition)

Sum of all elements:  15

Q.4) Write a python program to split the given list into 3 sub-lists as per your requirement.

In [ ]:
l1 = [1,5,3,4,2,6]
print(l1[0:2])
print(l1[-3:])
print(l1[2:5])

[1, 5]
[4, 2, 6]
[3, 4, 2]

Q.5) Write a python program to sort the elements of the given list in descending order.

In [ ]:
a=[2,7,4,3,8,1] 
a.sort(reverse=True)
print(a)

[8, 7, 4, 3, 2, 1]

Q.6) Write a python program to create two lists and join the second list with the first, then display the resultant list.

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
display=b+a
print(display)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

Q.7) Write a python program to reverse a tuple.

In [ ]:
a=(1,5,3,6,7,2)
reverse=a[::-1]
print(reverse)

(2, 7, 6, 3, 5, 1)

Q.8) Write a python program to convert a tuple to a string

In [ ]:
a=('m','e','g','h','a')
s=''.join(a)
print(s)

megha

Q.9) Write a python program to convert a list to a tuple.

In [ ]:
a=[1,2,4,6,8]
print(a)
b=tuple(a)
print(b)

[1, 2, 4, 6, 8]
(1, 2, 4, 6, 8)

Q.4) Write a python program to split the given list into 3 sub-lists as per your requirement(User input)

In [ ]:
a=[1,2,3,7,8,9,6]
b=int(input("1st: "))
c=int(input("2nd: "))
print(a[:b+1])
print(a[b+1:c+1])
print(a[b+1:])

1st: 3
2nd: 5
[1, 2, 3, 7]
[8, 9]
[8, 9, 6]

In [ ]:
a=(1,2,3)
a=list(a)
a.append(4)
a=tuple(a)
print(a)

(1, 2, 3, 4)

In [ ]:
a=(1,2,3)
b=(6,8,9)
c=a+b
print(c)

(1, 2, 3, 6, 8, 9)

In [ ]:
a=(1,3,5,6)
a.append(7)
print(a)

AttributeError: ignored