Q.1) Write a python program to create a list of vegetables and check specific vegetable available in the list or not.

In [ ]:
li=['potato','brinjal','cabbage','beans']
x=input("Enter the vegetable your searching: ")
if (x in li):
  print("The entered vegetable is present in list.")
else:
    print("not available")

Enter the vegetable your searching: chillies
not available

Q.2) Write a python program to get the Fibonacci series between 0 to 25.

In [ ]:
a,b=0,1
while b<25:
  print(b)
  a,b=b,a+b

1
1
2
3
5
8
13
21

Q.3) Write a python program that takes a list and returns a new list with unique elements of the first list using loop.

Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 2, 3, 3, 4, 5]
unique_numbers =list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

Q.4) Write a python program to calculate the sum of all the numbers within a range.

In [ ]:
lower = int(input("Enter lower bound of range: "))
upper = int(input("Enter upper bound of range: "))
sum = 0
for i in range(lower, upper + 1):
  sum = sum + i
  i = i + 1
print("Sum is ", sum)

Enter lower bound of range: 2
Enter upper bound of range: 8
Sum is  35

Q.5) Write a python program that prints all the numbers within a range except prime numbers.

In [ ]:
n1 = int(input("Enter the starting no: "))
n2 = int(input("Enter the ending no: "))
for num in range(n1, n2 + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               print(num)
               break

Enter the starting no: 2
Enter the ending no: 25
4
6
8
9
10
12
14
15
16
18
20
21
22
24
25

Q.6) Write a python program to print the following pattern using loop.

In [ ]:
n = int(input("Enter the number of rows: "))  
for i in range(0, n):   
        for j in range(0, i + 1):  
            print("* ", end="")       
        print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

Q.7) Write Write a Python program which accepts a sequence of comma separated 4 digit binary numbers as its input and print the numbers that are divisible by 5 in a comma separated sequence.

Sample Input : 0100, 0011, 1010, 1001, 1100, 1001
Expected Output : 1010

In [ ]:
items = []
num = [x for x in input().split(',')]
for p in num:
    x = int(p, 2)
    if not x%5:
        items.append(p)
print(','.join(items))

0100,0011,1010,1001,1100,1001
1010